<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="InnoProjectCnnString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\大学资料\Window编程\InnoProjectSystem\InnoProjectSystem\Data\InnoProjectSystem.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>